.main-navigation {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;

  z-index: 1;

  width: 20px;

  overflow-x: hidden;
  /* padding-right: 20px; */

  transition-property: width;
  transition-timing-function: linear;
  transition-duration: 0.08s;

  /* padding-top: 10px; */
  padding-bottom: 10px;

  border-right: 1px solid var(--color-content-transparent);
  background-color: var(--color-secondary);
}

/*** not mobile devices ***/
/* @media (min-width: 560px) {
  .sideNavigationButton {
    visibility: hidden;
  }
  nav {
    width: 200px;
    background-color: var(--color-primary);
  }
} */

.main-navigation a {
  color: var(--color-inactive);
  text-align: left;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
}

.main-navigation a:hover {
  color: var(--color-content);
  background-color: var(--color-hover)
}

/* .nav-header {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  padding-left: 15px;
  border-bottom: 1px solid var(--color-content-transparent);
  color: var(--color-accent);
} */

.sideNavigationButton {
  position: fixed;
  text-align: center;
  z-index: 0;
  left: -30px;
  top: 300px;
  transition-property: left;
  transition-duration: 0.08s;
  transition-timing-function: linear;
  cursor: pointer;
  background-color: var(--color-accent);
  color: white;
  border: none;
  height: 40px;
  width: 142px;
  font-weight: bold;
  font-size:medium;
}

.sideNavigationButton > .material-icons {
  position: absolute;
  bottom: 7px;
  left: 4px;
}

.rotate {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.navigationElement.active {
  color: var(--color-content);
  font-weight: bold;
}
