table {
  border: 1px solid var(--color-content-transparent);
  border-collapse: separate;
  border-spacing: 0;
  /* border-spacing: 0; */
  /* overflow-x: clip; */
  /* max-width: 100%; */
  /* border-collapse: collapse;  */
  border-radius: 5px;
}

th {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid var(--color-content-transparent);
}

td {
    text-align: left;
    padding: 8px;
}

.table-content {
  width: fit-content;
}

.center {
  text-align: center;
}

thead {
  border-bottom: 1.5px solid var(--color-content-transparent);
}

tbody:nth-child(even) {
  background-color: var(--color-secondary);
}

