.tooltiptext {
  position: relative;
  display: inline;
  visibility: hidden;
  color: var(--color-content);
  background-color: var(--color-secondary);
  font-style: normal;
  font-size: x-small;
  font-weight: 100;
  left: 5px;
  top: -4px;
  padding: 6px;
  border-radius: 5px;
  text-align: center;

}

.header-container {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: nowrap;
  margin-top: 130px;
}

.link-button, .link-text {
  /* margin-top: 6px; */
  margin-bottom: -12px;
}

.header-container h2 {
  font-size: 1.8rem;
  font-weight: 100;
  font-style: normal;
  background-color: var(--color-primary);
  color: var(--color-content);
  padding: 0px;
  margin-bottom: 10px;
}
